* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F5F5F5;
    --blue-color: #6482AD;
    --darkblue-color: #2C4E80;
    --red-color: #B8001F;
    --gray-color: #D8D9DA;
    --darkgray-color: #686d76;
    --white-color: #FFF;

    --font-headers: "Protest Strike", sans-serif;
    --font-normal: "Poppins", sans-serif;
    --weight-normal: 500;

    --title-size: 2.25rem;
    --heading-size: 1.5rem;
    --normal-size: 1rem;
    --small-size: 0.75rem;
    --smaller-size: 0.5rem;

}

/*###############
    INDEX PAGE
###############*/

.container,
button,
form {
    font-family: var(--font-normal);
    font-weight: var(--weight-normal);
}

/* LAYOUT */
body {
    display: grid;
    grid-template-rows: 0.75fr 2fr 0.75fr;
}
.spacing-top-div {
    grid-row: 1/2;
}
.spacing-bottom-div {
    grid-row: 3/4;
}


/*@@@@@@ WINDOW TOP @@@@@@@@*/

.windowTop,
.windowBottom {
    background:var(--gray-color);

    max-width: 90%;
    height: 25px;
    margin: 0 auto;
}

.windowTop {
    height: 30px;
}


.windowTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.windowTop_text {
    font-size: var(--small-size);
    margin-left: 0.75em;
    margin-right: 0.75em;
    color: var(--darkgray-color);
    cursor:default;
}

.windowTop_rightIcons {
    display: flex;
}

/*@@@@@@ WINDOW MAIN @@@@@@@@*/

.windowMain {
    background: var(--background-color);

    max-width: 90%;
    text-align: center;
    margin: 0 auto;

    padding: 1.25em;
}

/* profile title */
.login_profile {
    margin-bottom: 1em;
    margin-top: 1em;
}

.login_profile h1 {
    color: var(--darkblue-color);
    font-size: var(--title-size);
}

.login_picture {
    width: 110px;
    border-radius: 50%;
    border: 4px solid var(--blue-color);

    justify-self: center;
}

/* Label + Forms + Enter Button*/
.login_subtitle {
    font-style: italic;
    margin-bottom: 0.5em;
    cursor: default;
}

.login_form_user,
.login_form_pass {
    text-align: center;
    border: 1.75px solid black;
    margin-bottom: 0.5em;
    border-radius: 5px;
    padding: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.login_hint {
    font-size: var(--small-size);
    color: var(--red-color);
    margin-bottom: 1em;
    margin-top: 0.75em;
}

.login_button {
    width: 70%;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    padding: 0.75em 0.5em;
    background: var(--blue-color);
    color: #F5F5F5;
}
.login_button:hover {
    background: var(--darkblue-color);
    color: #F5F5F5;
    cursor: pointer;
}

/*@@@@@@ WINDOW BOTTOM @@@@@@@@*/
.windowBottom {
    display: flex;
    justify-content: space-between;
}
.windowBottom_rightIcons {
    margin-right: 0.75em;
}
.windowBottom_leftIcons {
    margin-left: 0.75em;
}
.windowBottom a {
    text-decoration: none;
}


/*###################
    MEDIA Q
####################*/

@media (min-width:600px) {
    .container {
        max-width: 900px;
        margin: 5em auto;
    }

    body {
        display: block;
    }

    /*LOGIN PAGE */
    .login_picture {
        width: 115px;
    }

    .login_form_user,
    .login_form_pass {
    border: 1.5px solid black;
    padding: 0.25em;
    }

    form {
        width: 55%;
    }

    .login_button {
        width: 50%;
        padding: 0.5em 0.5em;
    }

}
