* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F5F5F5;
    --blue-color: #6482AD;
    --darkblue-color: #2C4E80;
    --red-color: #B8001F;
    --gray-color: #D8D9DA;
    --darkgray-color: #686d76;
    --white-color: #FFF;

    --font-headers: "Protest Strike", sans-serif;
    --font-normal: "Poppins", sans-serif;
    --weight-normal: 500;
    --weight-bolder: 600;

    --title-size: 2.25rem;
    --heading-size: 1.5rem;
    --aboveNormal-size:1.25rem;
    --normal-size: 1rem;
    --small-size: 0.75rem;
    --smaller-size: 0.5rem;
}

.container {
    font-family: var(--font-normal);
    font-weight: var(--weight-normal);
}

/*----------------*/

body {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*@@@@@@ WINDOW TOP @@@@@@@@*/

.windowTop,
.windowBottom {
    background:var(--gray-color);

    max-width: 90%;
    height: 25px;
    margin: 0 auto;
}

.windowTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 30px;
}

.windowTop_text {
    font-size: var(--small-size);
    margin-left: 0.75em;
    margin-right: 0.75em;
    color: var(--darkgray-color);
    cursor:default;
}

.windowTop_rightIcons {
    display: flex;
}

/*@@@@@@ WINDOW MAIN @@@@@@@@*/

.windowMainHome {
    background: var(--background-color);

    max-width: 90%;
    text-align: center;
    margin: 0 auto;

    padding: 1.25em;
}

/*@@@@@@ WINDOW BOTTOM @@@@@@@@*/
.windowBottom {
    display: flex;
    justify-content: space-between;
}
.windowBottom_rightIcons {
    margin-right: 0.75em;
}
.windowBottom_leftIcons {
    margin-left: 0.75em;
}
.windowBottom a {
    text-decoration: none;
}

/*###################
    CONTENT
####################*/
.windowMainHome {
    display: flex;
    flex-direction: column;
}

.linksCard {
    background-color: var(--darkblue-color);
    border-radius: 15px;
    padding: 1em 0;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1em;

    color: var(--background-color);
}
.cardTitle {
    font-size: var(--aboveNormal-size);
}
.linksList a {
    list-style-type: none;
    color: var(--background-color)
}
.linksList a:hover {
    color: var(--gray-color);
}

.generalLinks {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}
.generalLinks a {
    background: var(--red-color);
    color: var(--background-color);
    font-size: var(--normal-size);
    font-weight: var(--weight-bolder);
    padding: 0.5em 2em;
    border-radius: 10px;
    text-decoration: none;
}
.generalLinks a:hover {
    background: var(--darkblue-color);
    cursor: pointer;
}


.homeButtonLink {
    margin: 1em auto;
    width: 100%;
}
.homeButtonLink a {
    background: var(--blue-color);
    color: var(--background-color);
    font-size: var(--aboveNormal-size);
    font-weight: var(--weight-bolder);
    padding: 0.5em 4em;
    border-radius: 10px;
    text-decoration: none;


}
.homeButtonLink a:hover {
    background: var(--darkblue-color);
    cursor: pointer;
}


/*###################
    MEDIA Q
####################*/

@media (min-width:600px) {
    .container {
        max-width: 900px;
        margin: 5em auto;
        /* background: pink; */
    }

    body {
        display: block;
    }

    /*###################
    CONTENT
    ####################*/
    .linksContainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    } 
    .linksCard {
        margin-bottom: 1em;
        width: 230px;
        height: 160px;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .linksCard h1 {
        font-size: var(--normal-size);
    }
    .linksList {
        font-size: var(--normal-size);
        list-style: none;
    }
    .generalLinks a {
        font-size: var(--normal-size);
    }

    .homeButtonLink a {
        padding: 0.5em 3em;
        font-size: var(--normal-size);
    }
}